<section>
  <h1>GitHub Repos</h1>
  <ul id="gh_repos">
    <li><a href="https://github.com/matthiasn/birdwatch">BirdWatch</a>&nbsp;
      <iframe src="http://ghbtns.com/github-btn.html?user=matthiasn&repo=birdwatch&type=watch&count=true"
        allowtransparency="true" frameborder="0" scrolling="0" width="86" height="20"></iframe>
      <p>Reactive web application using Play Framework 2.1 for consuming and visualizing live Tweets from the Twitter Streaming API.</p>
    </li>
    <li><a href="https://github.com/matthiasn/sse-perf">sse-perf</a>&nbsp;
      <iframe src="http://ghbtns.com/github-btn.html?user=matthiasn&repo=sse-perf&type=watch&count=true"
        allowtransparency="true" frameborder="0" scrolling="0" width="86" height="20"></iframe>
      <p>Reactive web application using Play Framework 2.1 for load testing Server Sent Event streams (or other HTTP connections that deliver information in chunks).</p>
    </li>
    <li><a href="https://github.com/matthiasn/sse-chat">sse-chat</a>&nbsp;
      <iframe src="http://ghbtns.com/github-btn.html?user=matthiasn&repo=sse-chat&type=watch&count=true"
        allowtransparency="true" frameborder="0" scrolling="0" width="86" height="20"></iframe>
      <p>Chat example app using Server Sent Events plus REST calls. Less than 10 lines of Scala code for the chat functionality.</p>
    </li>
  </ul>
</section>


