<section>
  <h1>GitHub Repos</h1>
  <ul id="gh_repos">
    <li><a href="https://github.com/matthiasn/birdwatch/" class="github-button" data-count-href="/ntkme/github-buttons/stargazers" data-style="mega" data-count-api="/repos/matthiasn/birdwatch#stargazers_count">BirdWatch</a>
      <p>Reactive web application using Play Framework 2.2 for consuming and visualizing live Tweets from the Twitter Streaming API.</p>
    </li>
    <li><a href="https://github.com/matthiasn/talk-transcripts/" class="github-button" data-count-href="/ntkme/github-buttons/stargazers" data-style="mega" data-count-api="/repos/matthiasn/talk-transcripts#stargazers_count">talk-transcripts</a>
        <p>Transcripts of talks I find interesting and that have influenced me: Rich Hickey, David Nolen and Guy Steele.</p>
    </li>
    <li><a href="https://github.com/matthiasn/sse-chat/" class="github-button" data-count-href="/ntkme/github-buttons/stargazers" data-style="mega" data-count-api="/repos/matthiasn/sse-chat#stargazers_count">sse-chat</a>
      <p>Chat example app using Server Sent Events plus REST calls. Client side implementations both in AngularJS and in React.</p>
    </li>
    <li><a href="https://github.com/matthiasn/Clojure-Resources/" class="github-button" data-count-href="/ntkme/github-buttons/stargazers" data-style="mega" data-count-api="/repos/matthiasn/Clojure-Resources#stargazers_count">Clojure-Resources</a>
        <p>Compilation of useful links and resources for learning Clojure and ClojureScript.</p>
    </li>
    <li><a href="https://github.com/matthiasn/systems-toolbox/" class="github-button" data-count-href="/ntkme/github-buttons/stargazers" data-style="mega" data-count-api="/repos/matthiasn/systems-toolbox#stargazers_count">systems-toolbox</a>
        <p>Toolbox for building observable systems.</p>
    </li>
    <li><a href="https://github.com/matthiasn/inspect/" class="github-button" data-count-href="/ntkme/github-buttons/stargazers" data-style="mega" data-count-api="/repos/matthiasn/inspect#stargazers_count">inspect</a>
        <p>Inspect data structures flowing through your application, from a web client.</p>
    </li>
  </ul>
</section>

<script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>