<div class="sharing">
  {% if site.twitter_tweet_button %}
  <a href="http://twitter.com/share" class="twitter-share-button" data-url="{{ site.url }}{{ page.url }}" data-via="{{ site.twitter_user }}" data-counturl="{{ site.url }}{{ page.url }}" >Tweet</a>
  {% endif %}

  {% if site.google_plus_one %}
  <div class="g-plusone" data-size="{{ site.google_plus_one_size }}"></div>
  {% endif %}

  {% if site.dzone_button %}
    <script type="text/javascript">
      (function() { 
        var write_string = '<iframe src="http://widgets.dzone.com/links/widgets/zoneit.html?t=2';
        write_string += '&url='; 
        write_string += encodeURIComponent(window.location); 
        write_string += '&title=' + encodeURIComponent(document.title);
        write_string += '" height="25" width="155" scrolling="no" frameborder="0"></iframe>'; 

        var span = $(document.createElement("span"));
        span.html(write_string);
        $(".sharing").append(span);
      })();
    </script>
  {% endif %}
  
  {% if site.reddit_button %}
<script type="text/javascript" src="http://www.reddit.com/static/button/button1.js"></script>
  {% endif %}
  
  <br />
  
  {% if site.facebook_like %}
    <div class="fb-like" data-send="true" data-width="600" data-show-faces="false"></div>
  {% endif %}
  
  <br />
  <br />
  
</div>
