<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGraffle</string>
		<string>139.16.0.171715</string>
	</array>
	<key>AutoAdjust</key>
	<true/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {1155, 783}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>shadow</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>BaseZoom</key>
	<integer>0</integer>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2013-06-22 13:34:49 +0000</string>
	<key>Creator</key>
	<string>Matthias Nehlsen</string>
	<key>DisplayScale</key>
	<string>1.000 cm = 1.000 cm</string>
	<key>GraphDocumentVersion</key>
	<integer>8</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Bounds</key>
			<string>{{625.36500936694097, 712.94793864553253}, {72, 36}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>78</integer>
			<key>Line</key>
			<dict>
				<key>ID</key>
				<integer>76</integer>
				<key>Offset</key>
				<real>-1</real>
				<key>Position</key>
				<real>0.60561078786849976</real>
				<key>RotationType</key>
				<integer>0</integer>
			</dict>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf390
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\b\fs24 \cf0 Ok.stream
\b0 \
Iteratee}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{523.5, 713.54168701171875}, {94, 36}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>77</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf390
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\b\fs24 \cf0 EventSource
\b0 \
Enumeratee}</string>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>60</integer>
			</dict>
			<key>ID</key>
			<integer>76</integer>
			<key>Points</key>
			<array>
				<string>{514.49999516495723, 730.59343864031916}</string>
				<string>{757.00000000000011, 729.5275885123001}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0.6</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>Legacy</key>
					<true/>
					<key>LineType</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>74</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>74</integer>
			</dict>
			<key>ID</key>
			<integer>75</integer>
			<key>Points</key>
			<array>
				<string>{366, 589.95833333333337}</string>
				<string>{381, 615.1429443359375}</string>
				<string>{383, 713.54168701171875}</string>
				<string>{419.54363860599318, 729.90041215310509}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0.6</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>Legacy</key>
					<true/>
					<key>LineType</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>36</integer>
				<key>Info</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{420, 712.54168701171875}, {94, 36}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>74</integer>
			<key>Magnets</key>
			<array>
				<string>{-0.47872340425531856, 0.012730916341144649}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf390
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\b\fs24 \cf0 filter
\b0 \
Enumeratee}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{402.5, 692.54168701171875}, {305.5, 65.5}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>73</integer>
			<key>Magnets</key>
			<array>
				<string>{-0.49145299145299104, 0.05725190839694605}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf390
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\b\fs24 \cf0 /chatFeed/room1\
\
\
}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{523.5, 627.5}, {94, 36}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0.6</string>
					<key>g</key>
					<string>0.6</string>
					<key>r</key>
					<string>0.6</string>
				</dict>
			</dict>
			<key>ID</key>
			<integer>49</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.6</string>
						<key>g</key>
						<string>0.6</string>
						<key>r</key>
						<string>0.6</string>
					</dict>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf390
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;\red153\green153\blue153;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\b\fs24 \cf2 EventSource
\b0 \
Enumeratee}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{625.36061522848627, 542.06509576139285}, {72, 36}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>72</integer>
			<key>Line</key>
			<dict>
				<key>ID</key>
				<integer>42</integer>
				<key>Position</key>
				<real>0.60561078786849976</real>
				<key>RotationType</key>
				<integer>0</integer>
			</dict>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf390
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\b\fs24 \cf0 Ok.stream
\b0 \
Iteratee}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{523.5, 542.5}, {94, 36}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>34</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf390
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\b\fs24 \cf0 EventSource
\b0 \
Enumeratee}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{625.62872314453125, 627.49999064317399}, {72, 36}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0.6</string>
					<key>g</key>
					<string>0.6</string>
					<key>r</key>
					<string>0.6</string>
				</dict>
			</dict>
			<key>ID</key>
			<integer>70</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.6</string>
						<key>g</key>
						<string>0.6</string>
						<key>r</key>
						<string>0.6</string>
					</dict>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf390
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;\red153\green153\blue153;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\b\fs24 \cf2 Ok.stream
\b0 \
Iteratee}</string>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>68</integer>
			</dict>
			<key>ID</key>
			<integer>69</integer>
			<key>Points</key>
			<array>
				<string>{635.35922147102576, 122.00009424217237}</string>
				<string>{635.64077852897424, 107.49990575782763}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>Legacy</key>
					<true/>
					<key>LineType</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>9</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{589, 71}, {94, 36}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Helvetica-Bold</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>68</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf390
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\b\fs24 \cf0 Ok.stream
\b0\fs22 \
Iteratee}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{722, 518.41680908203125}, {88, 14}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>66</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf390
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\b\fs24 \cf0 SSE over HTTP}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{397, 637.1429443359375}, {54, 10}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>1</string>
					<key>g</key>
					<string>1</string>
					<key>r</key>
					<string>1</string>
				</dict>
				<key>Font</key>
				<string>Helvetica-Bold</string>
				<key>Size</key>
				<real>9</real>
			</dict>
			<key>ID</key>
			<integer>65</integer>
			<key>Rotation</key>
			<real>270</real>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>1</string>
					</dict>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf390
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\b\fs18 \cf2 STOP}</string>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>59</integer>
			</dict>
			<key>ID</key>
			<integer>62</integer>
			<key>Points</key>
			<array>
				<string>{514.49999993720667, 645.04316314700736}</string>
				<string>{757, 645.15511034656924}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.6</string>
						<key>g</key>
						<string>0.6</string>
						<key>r</key>
						<string>0.6</string>
					</dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>Legacy</key>
					<true/>
					<key>LineType</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>50</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{757, 703.8336181640625}, {50.677215576171875, 51.166377888683193}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>60</integer>
			<key>ImageID</key>
			<integer>5</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{757, 620.02386474609375}, {50.677215576171875, 50.285885726162832}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>59</integer>
			<key>ImageID</key>
			<integer>4</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{757, 534.91680908203125}, {50.677215576171875, 51}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>58</integer>
			<key>ImageID</key>
			<integer>3</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>50</integer>
			</dict>
			<key>ID</key>
			<integer>51</integer>
			<key>Points</key>
			<array>
				<string>{366, 589.95833333333337}</string>
				<string>{386, 598}</string>
				<string>{401.5, 637}</string>
				<string>{419.53741569532338, 644.39996541346591}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0.6</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>Legacy</key>
					<true/>
					<key>LineType</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>36</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{420, 626.5}, {94, 36}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0.6</string>
					<key>g</key>
					<string>0.6</string>
					<key>r</key>
					<string>0.6</string>
				</dict>
			</dict>
			<key>ID</key>
			<integer>50</integer>
			<key>Magnets</key>
			<array>
				<string>{-0.48936170212765973, 0.013888888888889284}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.6</string>
						<key>g</key>
						<string>0.6</string>
						<key>r</key>
						<string>0.6</string>
					</dict>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf390
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;\red153\green153\blue153;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\b\fs24 \cf2 filter
\b0 \
Enumeratee}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{402.5, 606.5}, {305.5, 65.5}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>48</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf390
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\b\fs24 \cf0 /chatFeed/room2\
\
\
}</string>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>58</integer>
			</dict>
			<key>ID</key>
			<integer>42</integer>
			<key>Points</key>
			<array>
				<string>{514.49999789643095, 559.63810435538028}</string>
				<string>{757, 560.34316347018796}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0.6</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>Legacy</key>
					<true/>
					<key>LineType</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>35</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>35</integer>
			</dict>
			<key>ID</key>
			<integer>41</integer>
			<key>Points</key>
			<array>
				<string>{366, 589.95833333333337}</string>
				<string>{375.5, 585}</string>
				<string>{382, 570}</string>
				<string>{419.50377177352863, 565.36718113385814}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0.6</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>Legacy</key>
					<true/>
					<key>LineType</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>36</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>37</integer>
			</dict>
			<key>ID</key>
			<integer>39</integer>
			<key>Points</key>
			<array>
				<string>{184.35074543735755, 649.50005569704479}</string>
				<string>{184.99253814473198, 606.49994430295521}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0.6</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>Legacy</key>
					<true/>
					<key>LineType</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>31</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{171, 570}, {94, 36}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>37</integer>
			<key>Magnets</key>
			<array>
				<string>{-0.35106382978723438, 0.5}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf390
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\b\fs24 \cf0 chatChannel}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{272, 570}, {94, 36}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>36</integer>
			<key>Magnets</key>
			<array>
				<string>{0.51063829787234027, 0.055555555555557135}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf390
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\b\fs24 \cf0 chatOut\
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\b0 \cf0 Enumerator}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{420, 541.5}, {94, 36}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>35</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf390
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\b\fs24 \cf0 filter
\b0 \
Enumeratee}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{402.5, 521.5}, {305.5, 65.5}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>33</integer>
			<key>Magnets</key>
			<array>
				<string>{-0.49145299145299104, 0.05725190839694605}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf390
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\b\fs24 \cf0 /chatFeed/room1\
\
\
}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{200, 541}, {139, 83.5}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>32</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf390
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\b\fs24 \cf0 \
Concurrent.broadcast\
\
\
\
\
}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{152, 650}, {64, 46}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>10</real>
			</dict>
			<key>ID</key>
			<integer>31</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf390
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\b\fs20 \cf0 Message for / from room1}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{698, 141.5}, {65, 42}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>27</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf390
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\b\fs24 \cf0 One for \
each \
connection}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{720, 267}, {64, 56}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>26</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf390
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\b\fs24 \cf0 Singleton, \
one for\
the entire \
application}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>23</integer>
				<key>Info</key>
				<integer>3</integer>
			</dict>
			<key>ID</key>
			<integer>25</integer>
			<key>Points</key>
			<array>
				<string>{588.51658599582788, 101.54474474782712}</string>
				<string>{408.5, 149.10371179039299}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>Legacy</key>
					<true/>
					<key>LineType</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>68</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>6</integer>
			</dict>
			<key>ID</key>
			<integer>24</integer>
			<key>Points</key>
			<array>
				<string>{396, 401.5}</string>
				<string>{576.50047783429181, 409.39689590525023}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>Legacy</key>
					<true/>
					<key>LineType</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>23</integer>
				<key>Info</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{103, 104.5}, {305.5, 316.11817279046676}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>23</integer>
			<key>ImageID</key>
			<integer>2</integer>
			<key>Magnets</key>
			<array>
				<string>{0.4590834697217675, 0.43952206979527575}</string>
				<string>{0.49509001636661198, -0.27540044796139873}</string>
				<string>{0.49509001636661198, -0.35764817124314008}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{432.25, 83}, {103, 28}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>ID</key>
			<integer>22</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf390
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\b\fs24 \cf0 Server Sent Event\
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\b0 \cf0 HTTP stream}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>9</integer>
			</dict>
			<key>ID</key>
			<integer>20</integer>
			<key>Points</key>
			<array>
				<string>{635.31862768658277, 173.0000240314377}</string>
				<string>{635.18137231341734, 158.9999759685623}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>Legacy</key>
					<true/>
					<key>LineType</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>11</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>11</integer>
			</dict>
			<key>ID</key>
			<integer>19</integer>
			<key>Points</key>
			<array>
				<string>{635.85984859345831, 239.00001433649277}</string>
				<string>{635.64015140654169, 209.9999856635072}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>Legacy</key>
					<true/>
					<key>LineType</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>13</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{645, 356.5}, {72, 14}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>ID</key>
			<integer>18</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf390
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs24 \cf0 push JsValue}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>14</integer>
			</dict>
			<key>ID</key>
			<integer>17</integer>
			<key>Points</key>
			<array>
				<string>{635.99998599446099, 375}</string>
				<string>{635.99998599446099, 349}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>Legacy</key>
					<true/>
					<key>LineType</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>6</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{435, 408.5}, {75, 28}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>ID</key>
			<integer>16</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf390
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\b\fs24 \cf0 POST
\b0  \
chat message}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{589, 312.5}, {94, 36}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>14</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf390
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\b\fs24 \cf0 chatChannel}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{589, 239.5}, {94, 36}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>13</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf390
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\b\fs24 \cf0 chatOut\
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\b0 \cf0 Enumerator}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{588.5, 173.5}, {94, 36}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>11</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf390
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\b\fs24 \cf0 filter
\b0 \
Enumeratee}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{588, 122.5}, {94, 36}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>9</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf390
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\b\fs24 \cf0 EventSource
\b0 \
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc
\cf0 Enumeratee}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{557, 49}, {234, 176.5}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>8</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf390
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\b\fs24 \cf0 chatFeed\
\
\
\
\
\
\
\
\
\
\
}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{566.5, 264.5}, {139, 61}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>7</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf390
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\b\fs24 \cf0 Concurrent.broadcast}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{577, 375.5}, {118, 73}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>6</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf390
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\b\fs24 \cf0 postMessage}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{89, 72}, {332, 359}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>1</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf390
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\b\fs24 \cf0 AngularJS App\
\
\
\
\
\
\
\
\
\
\
\
\
\
\
\
\
\
\
\
\
\
\
}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{557, 232.5}, {234, 121}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>28</integer>
			<key>Shape</key>
			<string>Rectangle</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{546.5, 11}, {254.5, 447.5}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>4</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf390
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\b\fs24 \cf0 Play! App
\b0 \
\
\
\
\
\
\
\
\
\
\
\
\
\
\
\
\
\
\
\
\
\
\
\
\
\
\
\
\
}</string>
			</dict>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict/>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>1</integer>
	<key>ImageCounter</key>
	<integer>6</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image5.tiff</string>
		<string>image4.tiff</string>
		<string>image3.tiff</string>
		<string>image2.tiff</string>
	</array>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2013-06-24 12:40:59 +0000</string>
	<key>Modifier</key>
	<string>Matthias Nehlsen</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSHorizonalPagination</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwCG</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSOrientation</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwGG</string>
		</array>
		<key>NSPaperName</key>
		<array>
			<string>string</string>
			<string>A3</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{1191, 842}</string>
		</array>
		<key>NSPrintReverseOrientation</key>
		<array>
			<string>int</string>
			<string>0</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>ExpandedCanvases</key>
		<array>
			<dict>
				<key>name</key>
				<string>Canvas 1</string>
			</dict>
		</array>
		<key>Frame</key>
		<string>{{37, 584}, {1026, 834}}</string>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>120</integer>
		<key>VisibleRegion</key>
		<string>{{0, 103}, {877, 680}}</string>
		<key>Zoom</key>
		<real>1</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>1</real>
				<real>1</real>
			</array>
		</array>
	</dict>
</dict>
</plist>
